
<% @campaigns.each_with_index do |campaign, index| %>
  <div class="campaign row clearfix">
    <h2>
      <%= link_to campaign.name, campaign %><br>
    </h2>

    <div>
      Created <%= time_ago_in_words(campaign.created_at) %>
    </br>
      Donation to date
    <%= @donations_total[index]%> AUD
    </br>
    <div class="btn-group">
        <%= link_to 'Details', campaign, class:"btn btn-primary btn-xs" %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_campaign_path(campaign), class:"btn btn-primary btn-xs" %>
          <%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
